<div class="w-1/2 mx-auto font-serif py-8 px-4">
<h1 class="text-4xl font-bold text-gray-800 mb-4">Login</h1>



<%= form_with url: login_path, html: {class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"} do |form|%>
    <div class="mb-4">
        <%= form.label :username, 
            class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.text_field :username, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",  
            placeholder: "Username" %>
    </div>
    <div class="mb-4">
        <%= form.label :password, 
            class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= form.password_field :password, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline",  
            placeholder: "Password" %>
    <%= form.submit "Login",
        class: "bg-[#A3A695] hover:bg-[#12240F] text-white font-semibold py-2 px-6 rounded-lg inline-block transition" %>
<% end %>


</div>