<h1><%=@read_book.title%></h1>
<div>
    <p>Author: <%=@read_book.author%></p>
    <p>Description: <%=@read_book.description%></p>
    <p>Date Published: <%=@read_book.year_published%></p>
    <p>Date Read:<%=@read_book.date_finished%></p>
    <p>Rating: <%=@read_book.rating%></p>
</div>
<p><%= link_to "Edit Book", edit_read_book_path(@read_book) %></p>
<p><%= link_to "Back to All Books", read_books_path %></p>
<%= link_to "Delete Book", read_book_path(@read_book), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>